  /* App.css */

  /* 메뉴 스타일 */
  nav {
    background-color: #000b00;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0 8px 6px rgb(1, 91, 4);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px; /* 내부 글자 왼쪽에 마진 추가 */
  }

  li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-style:bold;
  }

  /* 로고 스타일 */
  header {
    /* display: flex; */
    /* justify-content: left; */
    position: fixed;
    align-items: flex-start;
    width: 100%;
    top: 0;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  header img {
    width: 200px;
    height: 50px;
    object-fit: contain;
  }

  /* 본문 스타일 */
  body {
    background-color: black;
    background-image: linear-gradient(to right, #65f765, #001f04);
    background-size: 200% 100%;
    /* animation: gradientAnimation 20s infinite; */
  }

  /* @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */
.menu-link:hover {
  color: green;
}
